{% extends "index.html" %}
{% block content %}
<div class="popular">
    <div class="container">
        <div class="row popular-title">
            <h2>О нас</h2>
        </div>
    </div>
</div>

<div class="container3">
    <div class="description_2">
        <h2 class="description-title_2">О компании Двери.ru</h2>
        <p class="description-text_2">Наша компания является лидером на рынке в производстве и установке дверей. Мы
            специализируемся на создании качественных, прочных и надежных дверей для различных типов зданий.
            Мы предлагаем широкий ассортимент дверей, включая входные, межкомнатные, двери для офисных помещений и
            многое другое. Каждая дверь, которую мы производим, отвечает высоким стандартам качества.
            В нашей компании работают только высококвалифицированные специалисты, которые гарантируют, что ваша дверь
            будет установлена правильно и безопасно.</p>
    </div>
</div>
<div class="container3">
    <h2 class="description-title_2">Преимущества наших дверей</h2>

    <div class="features_2">
        <div class="feature-left_2">
            <p class="feature-text_2">Наши двери имеют высокую прочность и надежность, что делает их идеальными для
                защиты вашего дома, офиса или любого другого помещения.
                Мы используем только лучшие материалы для производства наших дверей, что гарантирует долговечность и
                долгосрочную стабильность дверей.
                Наши двери легко устанавливаются и обслуживаются, что уменьшает затраты на обслуживание в будущем.</p>
        </div>
        <div class="feature-right_2">
            <img src="/files/brown.png" alt="Task Master Web App">
        </div>
    </div>

</div>
<div class="container3">
    <h2 class="description-title_2">Как мы работаем</h2>

    <div class="features_2">
        <div class="feature-left_2">
            <p class="feature-text_2">Мы начинаем работу с нашими клиентами с обсуждения их потребностей и требований.
                Мы стремимся создавать двери, которые соответствуют индивидуальным требованиям каждого клиента.
                Мы предоставляем своим клиентам консультационные услуги, чтобы помочь им выбрать наилучшую дверь для их
                нужд и предложить максимально удобные условия.
                Мы гарантируем быструю и эффективную установку наших дверей, чтобы наши клиенты могли наслаждаться
                защитой и комфортом, которые они предоставляют, в кратчайшие сроки.</p>
        </div>
        <div class="feature-right_2">
            <img src="/files/client.jpg" alt="Task Master Web App">
        </div>
    </div>

</div>

{% endblock %}
